<h1>Edit Portrait</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.portrait_path(@conn, :update, @portrait)) %>

<span><%= link "Back", to: Routes.portrait_path(@conn, :index) %></span>
