<div class="big-portrait">
  <img src="<%= @portrait.url %>" />
  <h1><%= @portrait.neighbor.name %></h1>
</div>

<div class="body-content">
  <%= @portrait.body %>
</div>


<span><%= link "Edit", to: Routes.portrait_path(@conn, :edit, @portrait) %></span>
<span><%= link "Back", to: Routes.portrait_path(@conn, :index) %></span>
