<div class="big-portrait">
  <img src="<%= @portrait.url %>" />
  <h1><%= @portrait.neighbor.name %></h1>
</div>

<div class="body-content">
  <%= @portrait.body %>
  <button class="reach-out"><%= link "Reach Out", to: Routes.outreach_path(@conn, :new, %{id: @portrait.neighbor.id, name: @portrait.neighbor.name}) %></button>
</div>


<br>
<button class="reach-out"><%= link "Back", to: Routes.portrait_path(@conn, :index) %></button class="reach-out">
