/* This file is for your main application css. */

@import "./phoenix.css";

h1, h2, h3, h4, h5 {
  font-family: Futura;
}

header {
  border: none;
  background: none;
}

.portraits {
  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  margin-bottom: 1rem;
}

.portraits a {
  color: unset;
}

.portraits button {
  background-color: white;
  color: #149816;
  border: solid thin #149816;
  display: block;
}

button.reach-out {
  background-color: white;
  color: #149816;
  border: solid thin #149816;
  display: block;
}

button.reach-out a {
  background-color: white;
  color: #149816;
}

.portrait {
  border: solid thin silver;
  border-radius: 6px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-width: 24rem;
  margin: 0 0.5rem 2rem 0.5rem;

  display: flex;
  flex-direction: column;
}

.portrait * {
  margin-bottom: 1rem;
}

.portrait img {
  max-height: 12rem;
  align-self: center;
  margin: 0 0 1rem 0;
}

.portrait h3 {
  text-align: center;
  display: block;
  height: 3rem;
}

.logo {
  max-height: 4rem;
  margin: 1rem;
  display: inline;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.logo-container h2 {
  display: inline;
  margin: 0;
  padding: 0;
  color: #149816;
}

footer {
  color: white;
  background-color: #149816;
  border-radius: 6px;
  padding: 3rem 3rem 1rem 3rem;
}

#about-section-header {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
