<div class="portraits row">
  <%= for portrait <- @portraits do %>
    <%= link to: "/portraits/#{portrait.id}" do %>
      <div class="portrait">
        <img src="<%= portrait.url %>" />
        <h3><%= portrait.neighbor.name %></h3>
      </div>
    <% end %>
  <% end %>

  <%= button("Show More Portraits", to: "/portraits", method: "get") %>
</div>
